.containers{
    display: flex;
    justify-content: center;
    align-items: center;


    .heading{
        width:100vw;
        text-align: center;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        // background: red;
    }
    .subHeading{
        font-size: 1rem;
        color:#aaa;
        font-family:  Georgia, 'Times New Roman', Times, serif;
    }
    .motionWord {
        // background: blue;
        display: inline-block; 
        white-space: nowrap; 
        margin-right: 1px;
      }
}